.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log > h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #151E27;
    margin-bottom: 5px;
}

.log > p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 24px;
}

.log > input{
    width: 355px;
    height: 40px;
    background: #F7F7F7;
    border: 1px solid #8F8F8F;
    border-radius: 8px;
    margin-bottom: 24px;
}

.log > input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #191919;
}

.log > button{
    padding: 15px 145px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3665F3;
    border: 1px solid #3665F3;
    border-radius: 20px;
    cursor: pointer;
}